body {
    background-color: rgba(67, 9, 240, 0.6);
	font-family: Arial, "Jost";
	font-size: larger;
	display: flexbox;
}

.kl {
	background-color: rgba(81, 78, 89, 0.6);
}

#clockContainer {
	position: relative;
	margin: auto;
	height: 40vw;
	/*to make the height and width responsive*/
	width: 40vw;
	background: url("index.png") no-repeat;
	/*setting our background image*/
	background-size: 100%;
}

#hour,
#minute,
#second {
	position: absolute;
	background: rgb(5, 30, 50);
	border-radius: 7px;
	transform-origin: bottom;
}

#hour {
	width: 1.8%;
	height: 25%;
	top: 25%;
	left: 48.85%;
	opacity: 0.8;
}

#minute {
	width: 1.6%;
	height: 30%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
}

#second {
	width: 1%;
	height: 40%;
	top: 9%;
	left: 49.25%;
	background-color: rgb(250, 254, 4);
	opacity: 0.8;
}

#q {
    color: rgb(171, 114, 0)/*#A70D2A*/;
    font-family: 'Jost';
    text-align: center;

    cursor: pointer;
    font-size: 60px;
}

#s {
    color: rgb(2, 79, 90)/*#A70D2A*/;
    font-family: 'Jost';

    cursor: pointer;
    font-size: 60px;
}

#t {
    color: rgb(4, 122, 4)/*#A70D2A*/;
    font-family: 'Jost';


    cursor: pointer;
    font-size: 60px;
}

#v {
    color: rgba(175, 0, 0, 0.752)/*#A70D2A*/;
    font-family: 'Jost';
    text-align: left; 
    padding: 0;
    left: 0;
    cursor: pointer;
    font-size: 60px;
}

